body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Compactar todas las celdas del roster */
.compact-table .ant-table-cell {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* Tabla compacta */
.compact-rows .ant-table-tbody > tr > td {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;               /* fuerza la altura mínimo */
}

/* Opcional: también cabecera */
.compact-rows .ant-table-thead > tr > th {
  padding-top: 4px;
  padding-bottom: 4px;
}