# Logs
logs/
*.log

# Dependency directories
client/node_modules/
server/node_modules/
node_modules

# Build output
client/build/
client/dist/

# Env files
*.env

# OS/editor garbage
.DS_Store
Thumbs.db
.vscode/

# Runtime
npm-debug.log*
